<h1>Users</h1>

{{#each newUser}}
  <form action="/user/{{_id}}/delete" method="POST">
    <a href="/user-details/{{_id}}">{{name}}</>

    {{#if userRole}}
      <button type="submit">Delete</button>
    {{/if}}
  </form>
  <br /><br />
{{/each}}